<div class="card-body">
  <table id="example1" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>code</th>
      <th>nom</th>
    </tr>
    </thead>
    <tbody>

        <tr >
            <td>{{classe?.codeClasse}}</td>
            <td>{{classe?.nomClasse}}</td>
            <td>
                <a href="" class="btn btn-primary">Modifier</a>
                <a href="" class="btn btn-danger">Supprimer</a>
            </td>
          </tr>

    </tbody>
    <tfoot>
    <tr>
        <th>code</th>
        <th>nom</th>
    </tr>
    </tfoot>
  </table>
</div>
